<header>
  <h1><a href="http://bugaming.github.io/">Brandon University Gaming Association</a></h1>
  <h2>we play games, and do stuff</h2>
</header>
<section id="navigation">
  <h3>
    <ul class="nav">
      <li><a href="http://bugaming.github.io/about.html">About</a></li>
      <li><a href="http://bugaming.github.io/contact.html">Contact</a></li>
      <li><a href="http://bugaming.github.io/docs.html">BUGA Docs</a></li>
      <li><a href="http://bugaming.github.io/games.html">Games</a></li>
    </ul>
  </h3>
</section>
